body {
    margin: 0px 30px;
    font-family: sans-serif;
}
a {text-decoration: none;
    color: inherit;
}
.container {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 100px auto 50px;
}
.container>* {
    padding: 0 calc(50% - 750px);
}
.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
}
.empty-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 100%;
    justify-content: center;
}
.empty-block svg {
    font-size: 4rem;
    fill: #5654548f;
}
.advert {
    border-radius: 10px;
    padding: 10px 30px;
    background-color: rgb(71, 226, 74);
    display: flex;   
    flex-direction: column;     
}
.advert :link {
    display: inline-block; 
    align-items: center;   
    background: white;
    padding: 20px; 
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
    max-width: 200px;
    min-width: 100px;    
}
.lnk {
    display: inline-block; 
    align-items: center;   
    background: rgb(71, 226, 74);
    padding: 20px; 
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
    max-width: 300px;
    min-width: 100px; 
    margin: 10px;   
}
.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);          
    gap: 2em;
}
.cards_home {
    display: grid;
    grid-template-columns: repeat(4, 1fr);        
    gap: 2em;
}
@media (max-width: 1260px) {
    .container>* {
        padding: 0 30px;
    }
}
